<script setup lang="ts">
import Man from "./components/man.vue";
import Otherman from "./components/otherman.vue";
import Notify from "./components/notify.vue";
import Countdown from "./components/countdown.vue";
import ManTitle from "./components/manTitle.vue";
import Rain from "./components/rain.vue";
import { computed, onMounted, reactive } from "vue";

interface IRank {
  name: string;
  score: number;
  message?: string;
  previousDifference: {
    score: number | undefined;
    date: string;
  };
}

const state = reactive({
  rank: {} as { [key: string]: IRank },
  countdown: "",
});

const getSheetData = async () => {
  const apiKey = "AIzaSyACxU8hKon8VGMTBmMGQHqvL8XjpHPKMeg";
  const sheetId = "1tRnDbJYyzt5bhnTEfv64WiUmYZpIUOMGl5mi9yUi074";
  const range = "工作表1!A1:E999";
  const url = `https://sheets.googleapis.com/v4/spreadsheets/${sheetId}/values/${range}?key=${apiKey}`;
  const response = await fetch(url);
  const data = await response.json();
  return data;
};

const rankList = computed(() =>
  Object.values(state.rank).sort((a, b) => b.score - a.score)
);

const reply = () => {
  window.open(
    "https://docs.google.com/spreadsheets/d/1tRnDbJYyzt5bhnTEfv64WiUmYZpIUOMGl5mi9yUi074/edit#gid=0"
  );
};

const getOrdinalNumber = (index: number): string => {
  const suffixes = ["th", "st", "nd", "rd"];
  const v = index % 100;
  return index + (suffixes[(v - 20) % 10] || suffixes[v] || suffixes[0]);
};

const init = async () => {
  const data = await getSheetData();

  state.rank = {};
  data.values.forEach((item: any) => {
    const [name, _date, score, message] = item;

    if (Number(score) >= 0) {
      if (state.rank[name]) {
        state.rank[name].score += parseInt(score, 10);
      } else {
        state.rank[name] = {
          name,
          score: parseInt(score, 10),
          previousDifference: { score: undefined, date: "" },
        };
      }
    }

    if (state.rank[name]) {
      const previousDifference = state.rank[name].previousDifference;

      if (_date == previousDifference.date) {
        previousDifference.score =
          (previousDifference.score ?? 0) + parseInt(score, 10);
      } else {
        previousDifference.score = parseInt(score, 10);
        previousDifference.date = _date;
      }
      if (message) state.rank[name].message = message;
    }
  });

  console.log("state.rank:", state.rank);
};

const getCountdown = (countDown: number) => {
  const second = 1000,
    minute = second * 60,
    hour = minute * 60,
    day = hour * 24;
  const now = new Date().getTime(),
    distance = countDown - now;

  const days = Math.floor(distance / day);
  const hours = Math.floor((distance % day) / hour);
  const minutes = Math.floor((distance % hour) / minute);
  const seconds = Math.floor((distance % minute) / second);
  state.countdown = `剩餘 ${days} 天 ${hours} 時 ${minutes} 分 ${seconds} 秒`;
};

init();

onMounted(() => {
  setInterval(() => getCountdown(new Date("06/17/2024 23:59:59").getTime()), 0);
  setInterval(init, 5000);
});
</script>

<template>
  <Rain v-if="false" />
  <Man
    v-if="rankList.length > 0"
    :message="rankList[0].message ?? ''"
    :isShowRays="true"
  />
  <ManTitle
    v-if="rankList.length > 0"
    title1="1st"
    :title2="rankList[0].name"
    :title3="`累計 ${rankList[0].score} 卡`"
    :title4="`∆${rankList[0].previousDifference.score}`"
  />
  <Notify
    title="2024/6/3 ~ 2024/6/17"
    subtitle="第二屆健身環錦標賽"
    :subtitle2="state.countdown"
    subtitle3=""
  />
  <Countdown />
  <div class="container">
    <template v-for="(rank, index) in rankList">
      <Otherman
        v-if="index > 0"
        :title="getOrdinalNumber(index + 1)"
        :subtitle="rank.name"
        :subtitle2="`累計 ${rank.score} 卡`"
        :subtitle3="
          (rank.previousDifference?.score ?? 0) > 0
            ? `( ∆${rank.previousDifference.score} )`
            : ''
        "
        :message="rank.message ?? ''"
        :isCry="rank.score == rankList[rankList.length - 1].score"
      />
    </template>
  </div>

  <img
    src="/public/reply.png"
    style="
      position: fixed;
      width: 80px;
      right: 10px;
      bottom: 10px;
      cursor: pointer;
      z-index: 5;
    "
    @click="reply"
  />
</template>

<style scoped>
.container {
  position: fixed;
  left: 0px;
  bottom: 0px;
  z-index: 5;
  display: grid;
  justify-content: center;
  width: 100vw;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 200px));
}

@media screen and (max-width: 1024px) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(min-content, 130px));
  }
}
</style>
<style>
/*
body {
  background: linear-gradient(to right, #9bc5c3, #616161);
}
*/
body {
  background: black;
}
</style>
