<script setup lang="ts">
const props = defineProps<{
  title: string;
  subtitle: string;
  subtitle2: string;
  subtitle3: string;
}>();
</script>

<template>
  <div class="dialog">
    <span class="title"> {{ props.title }} - {{ props.subtitle }} </span>
    <span class="subtitle2">
      {{ props.subtitle2 }}
      <span class="subtitle3"> {{ props.subtitle3 }} </span>
    </span>
  </div>
</template>

<style scoped>
/* dialog */
.dialog {
  background-color: #d83fff;
  width: 150px;
  height: 47px;
  border-radius: 6px;
  filter: drop-shadow(4px 4px 6px RGBA(0, 0, 0, 0.4));
  padding: 8px 13px;
  margin: 0px 17px;
  animation: 0.5s Chck ease-in-out;
}

.title {
  color: white;
  font-weight: 600;
  font-size: 15px;
  display: block;
}
.subtitle2 {
  margin-left: 10px;
  color: #fff67f;
  font-size: 13px;
}
.subtitle3 {
  color: #7fffa1;
  font-size: 12px;
  display: inline;
}

@keyframes Chck {
  0% {
    transform: scale(0, 0);
    transform-origin: bottom center;
  }
  100% {
    transform: scale(1, 1);
  }
}

@media screen and (max-width: 768px) {
  .dialog {
    width: 140px;
  }
}
</style>
