<script setup lang="ts"></script>

<template>
  <div style="z-index: 9">
    <div class="wrap">
      <div class="eye grin"></div>
      <div class="eye grin"></div>
    </div>
  </div>
</template>

<style scoped>
.wrap {
  position: relative;
  width: 100%;
  height: 100%;
  color: #dbc9aa;
  line-height: 40px;
  font-size: 2rem;
  text-align: center;
  font-weight: 400;
  margin-bottom: 0;
  opacity: 0.75;
}
.wrap .eye {
  position: absolute;
  background: #fff;
  width: 25%;
  height: 37%;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
}
.wrap .eye:before {
  content: "";
  position: absolute;
  margin: auto;
  width: 14px;
  height: 14px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 150%;
  background: rgba(20, 20, 20, 1);
}
.wrap .eye.grin:after,
.wrap .eye.sad:after {
  content: "";
  position: absolute;
  width: calc(100% + 10px);
  height: 0;
  border-radius: 100%;
  background: #fcf51b;
  left: -6px;
}
.wrap .eye.grin:after {
  bottom: -10px;
}
.wrap .eye.sad:after {
  top: -10px;
}
.wrap .eye:first-child {
  left: 0;
}
.wrap .eye:last-child {
  right: 0;
}
.wrap .eye.blink {
  animation: blink 4s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}
.wrap .eye.double-blink {
  animation: double-blink 4s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}
.wrap .eye.grin:before {
  animation: grinb 4s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}
.wrap .eye.grin:after {
  animation: grina 4s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}
.wrap .eye.sad:before {
  animation: sadb 4s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}
.wrap .eye.sad:after {
  animation: grina 4s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}
.wrap .eye.up:before {
  animation: grinb 4s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}
.wrap .eye.down:before {
  animation: sadb 4s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}
.wrap .eye.d1 {
  animation-delay: 0.1s;
}
@keyframes blink {
  0%,
  8% {
    height: 40px;
  }
  10%,
  12% {
    height: 5px;
  }
  14%,
  100% {
    height: 40px;
  }
}
@keyframes double-blink {
  0%,
  8% {
    height: 40px;
  }
  10%,
  12% {
    height: 10px;
  }
  13% {
    height: 40px;
  }
  14%,
  16% {
    height: 0;
  }
  18%,
  100% {
    height: 40px;
  }
}
@keyframes grinb {
  0%,
  10% {
    bottom: 0;
  }
  20%,
  40% {
    bottom: 50%;
  }
  50%,
  100% {
    bottom: 0;
  }
}
@keyframes grina {
  0%,
  10% {
    height: 0;
  }
  20%,
  40% {
    height: 100%;
  }
  50%,
  100% {
    height: 0;
  }
}
@keyframes sadb {
  0%,
  10% {
    top: 0;
  }
  20%,
  40% {
    top: 50%;
  }
  50%,
  100% {
    top: 0;
  }
}
@media screen and (max-width: 1024px) {
  .wrap .eye:before {
    width: 7px;
    height: 7px;
  }
  .wrap .eye.sad:after {
    width: calc(100% + 3px);
  }
  @keyframes grinb {
    0%,
    10% {
      bottom: 0;
    }
    20%,
    40% {
      bottom: 20%;
    }
    50%,
    100% {
      bottom: 0;
    }
  }
}
</style>
