<script setup lang="ts">
import Message from "./message.vue";
import EyesGrin from "./eyesGrin.vue";

const props = defineProps<{
  message: string;
  isShowRays: boolean;
}>();
</script>

<template>
  <div class="wrap">
    <img src="/public/crown.png" class="crown" />
    <EyesGrin class="grin" />
    <svg class="man" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 900 900">
      <linearGradient
        id="grd__h"
        x1="456.483"
        x2="456.483"
        y1="757.946"
        y2="241.215"
        gradientTransform="matrix(1 0 0 -1 0 900)"
        gradientUnits="userSpaceOnUse"
      >
        <stop offset="0" stop-color="#fffe6b" />
        <stop offset=".14" stop-color="#fefa1c" />
        <stop offset=".922" stop-color="#d7a100" />
        <stop offset="1" stop-color="#d6980f" />
      </linearGradient>
      <path
        fill="url(#grd__h)"
        d="M524.3 648.5H388.6c-97.3 0-176.9-79.7-176.9-176.9V308.7c0-97.3 79.7-176.9 176.9-176.9h135.7c97.3 0 176.9 79.7 176.9 176.9v162.9c.1 97.3-79.5 176.9-176.9 176.9z"
      />
      <path
        fill="#CB0167"
        stroke="#BE1E2D"
        stroke-miterlimit="10"
        stroke-width="6.346"
        d="M733 300.3v21.2c0 .7 0 1.2-.1 1.9-.5 78.3-60.7 141.6-135.1 141.6-57.9 0-107.3-38.4-126.5-92.4l-14 2.1-15.5-2.2c-19.1 54.1-68.6 92.6-126.6 92.6-74.3 0-134.6-63.2-135.1-141.6-.1-.7-.1-1.2-.1-1.9v-21.2c0-8.3 6.7-15 15-15h523.1c8.2-.1 14.9 6.6 14.9 14.9z"
      />
      <path
        class="Glassez"
        fill="url(#Glasses)"
        d="M499.9 324.6h198.8c0 57.8-44.5 107.5-99.3 107.5s-99.5-49.6-99.5-107.5zm-285.4 0h198.8c0 57.8-44.5 107.5-99.3 107.5s-99.5-49.6-99.5-107.5z"
      ></path>
      <linearGradient
        id="Glasses"
        spreadMethod="reflect"
        gradientTransform="rotate(5)"
      >
        <animateTransform
          attributeName="gradientTransform"
          type="rotate"
          values="0 0.5 0.5; 15 0.5 0.5; 0 0.5 0.5; -25 0.5 0.5;0 0.5 0.5;"
          dur="4s"
          repeatCount="indefinite"
        />
        <stop offset="0%" stop-color="#720021">
          <animate
            attributeName="stop-color"
            values="#720021; #720021; #720021; #720021; #720021"
            dur="8s"
            repeatCount="indefinite"
          />
        </stop>
        <stop offset="25%" stop-color="#720021">
          <animate
            attributeName="stop-color"
            values="#720021; #ff0167; #720021; #f0a; #720021;#720021;#720021;"
            dur="8s"
            repeatCount="indefinite"
          />
        </stop>
        <stop offset="50%" stop-color="#720021"></stop>
        <stop offset="75%" stop-color="#720021">
          <animate
            attributeName="stop-color"
            values="#720021; #ff0167; #720021; #f0a; #720021;#720021;#720021;"
            dur="8s"
            repeatCount="indefinite"
          />
        </stop>
        <stop offset="100%" stop-color="#720021">
          <animate
            attributeName="stop-color"
            values="#720021; #720021; #720021; #720021;#720021;"
            dur="8s"
            repeatCount="indefinite"
          />
        </stop>
      </linearGradient>

      <linearGradient
        id="grd__j"
        x1="456.529"
        x2="456.529"
        y1="486.805"
        y2="444.211"
        gradientTransform="matrix(1 0 0 -1 0 900)"
        gradientUnits="userSpaceOnUse"
      >
        <stop offset="0" stop-color="#cb0167" />
        <stop offset=".217" stop-color="#c40357" />
        <stop offset=".641" stop-color="#b0072c" />
        <stop offset="1" stop-color="#9e0b03" />
      </linearGradient>
      <path
        fill="none"
        stroke="url(#grd__j)"
        stroke-linecap="round"
        stroke-miterlimit="10"
        stroke-width="9.066"
        d="M400.3 465.7c9.7 24.4 31.2 33.5 56.2 33.5 25 0 46.5-9.1 56.2-33.5"
      />
      <path
        class="brows"
        fill="#CC9902"
        d="M411.6 269.2h-21.9c-4 0-7.3-3.3-7.3-7.3s3.3-7.3 7.3-7.3h21.9c4 0 7.3 3.3 7.3 7.3-.1 4.1-3.3 7.3-7.3 7.3zm111.8 0h-21.9c-4 0-7.3-3.3-7.3-7.3s3.3-7.3 7.3-7.3h21.9c4 0 7.3 3.3 7.3 7.3 0 4.1-3.3 7.3-7.3 7.3z"
      />
    </svg>
    <svg
      v-if="props.isShowRays"
      xmlns="http://www.w3.org/2000/svg"
      class="Rays"
      viewBox="0 0 200 200"
    >
      <radialGradient
        id="radGrad"
        cx="100"
        cy="100"
        r="99"
        gradientUnits="userSpaceOnUse"
      >
        <stop offset="0.25" stop-color="#cce">
          <animate
            attributeName="stop-color"
            values="#cce;#cce; #ffc; #eff; #cce;"
            dur="6s"
            repeatCount="indefinite"
          />
        </stop>
        <stop offset="0.75" stop-color="#cb0167">
          <animate
            attributeName="stop-color"
            values="#cb0167;#f20; #f50; #cb0167;#cb0167"
            dur="6s"
            repeatCount="indefinite"
          />
        </stop>
        <stop offset="1" stop-color="#cb0167">
          <animate
            attributeName="stop-color"
            values="#cb0167;#cb0167; #f20; #f50; #cb0167;"
            dur="6s"
            repeatCount="indefinite"
          />
        </stop>
      </radialGradient>
      <path
        fill="url(#radGrad)"
        d="M90.5 199l9.5-99 9.5 99h-19zm52.3-9.2L100 100l24.9 96.3 17.9-6.5zm28-20.1L100 100l56.3 82 14.5-12.3zm19.6-28.5L100 100l80.9 57.7 9.5-16.5zm8.6-33.4l-99-7.8 95.7 26.5 3.3-18.7zm-3.3-34.4L100 100l99-7.9-3.3-18.7zm-14.9-31.2L100 100l90.3-41.3-9.5-16.5zM156.2 18L100 100l70.8-69.8L156.2 18zM124.8 3.7L100 100l42.7-89.8-17.9-6.5zM90.4 1l9.6 99 9.4-99h-19zm-33.2 9.3L100 100 75.1 3.7l-17.9 6.6zM29.1 30.4L100 100 43.7 18.1 29.1 30.4zM9.6 58.8L100 100 19.1 42.3 9.6 58.8zM1 92.3l99 7.7L4.3 73.5 1 92.3zm3.3 34.4L100 100l-99 7.9 3.3 18.8zm14.9 31.2L100 100 9.7 141.4l9.5 16.5zM43.9 182l56.1-82-70.7 69.8L43.9 182zm31.4 14.3L100 100l-42.6 89.8 17.9 6.5z"
      />
    </svg>
  </div>
  <Message :message="props.message" class="man-message" />
</template>

<style scoped>
.man-message {
  top: calc(50% - 30vmin);
  left: calc(50% - 100px);
  width: 150px;
  position: fixed;
  z-index: 99;
}

.wrap {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.crown {
  display: block;
  position: absolute;
  width: 20vmin;
  height: 20vmin;
  top: 50%;
  left: 50%;
  margin: -32vmin 0 0 -10vmin;
  z-index: 50;
  animation: 8s ChckX ease-in-out infinite;
}
@keyframes ChckX {
  0%,
  30%,
  60% {
    transform: rotate(0deg) translateX(0px) translateY(0px);
  }
  15% {
    transform: rotate(15deg) translateX(60px) translateY(-8px);
  }
  45% {
    transform: rotate(-15deg) translateX(-60px) translateY(-8px);
  }
}

@media screen and (max-width: 768px) {
  @keyframes ChckX {
    0%,
    30%,
    60% {
      transform: rotate(0deg) translateX(0px) translateY(0px);
    }
    15% {
      transform: rotate(15deg) translateX(7vw) translateY(-8px);
    }
    45% {
      transform: rotate(-15deg) translateX(-7vw) translateY(-8px);
    }
  }
}

.grin {
  display: block;
  position: absolute;
  width: 20vmin;
  height: 13vmin;
  top: 50%;
  left: 50%;
  margin: -6.5vmin 0 0 -9.5vmin;
  animation: 8s Chck ease-in-out infinite;
}

.man {
  display: block;
  position: absolute;
  width: 50vmin;
  height: 50vmin;
  top: 50%;
  left: 50%;
  margin: -25vmin 0 0 -25vmin;
  z-index: 5;
  animation: 8s Chck ease-in-out infinite;
}
@keyframes Chck {
  0%,
  30%,
  60% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(15deg);
  }
  45% {
    transform: rotate(-15deg);
  }
}
.Rays {
  width: 140vmax;
  height: 140vmax;
  top: 50%;
  left: 50%;
  margin: -70vmax 0 0 -70vmax;
  position: absolute;
  z-index: 1;
  animation: 150s R360 linear infinite;
}
@keyframes R360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.Glassez {
  stroke: rgba(255, 55, 55, 0.35);
  stroke-width: 3;
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
  animation: 8s Gls linear infinite;
}
@keyframes Gls {
  0% {
    stroke-dashoffset: 800;
  }
  30% {
    stroke-dashoffset: 0;
  }
  60%,
  100% {
    stroke-dashoffset: -800;
  }
}
.brows {
  animation: 8s eyeBrows ease-in-out infinite;
}
@keyframes eyeBrows {
  0%,
  30%,
  60%,
  80%,
  90%,
  100% {
    transform: translate(0, 0);
  }
  15%,
  45%,
  85%,
  95% {
    transform: translate(0, -16px);
  }
}
@media screen and (max-width: 768px) {
  .man-message {
    top: calc(35% - 30vmin);
    left: calc(50% - 100px);
  }

  .man,
  .crown,
  .grin,
  .Rays {
    top: 35%;
  }
}
@media screen and (max-width: 1920px) {
  .man-message {
    top: calc(35% - 30vmin);
    left: calc(50% - 100px);
  }

  .man,
  .crown,
  .grin,
  .Rays {
    top: 35%;
  }
}
</style>
