<script setup lang="ts">
const props = defineProps<{
  title1: string;
  title2: string;
  title3: string;
  title4: string;
}>();
</script>

<template>
  <section class="container">
    <h1>
      <span class="title">
        <span> {{ props.title1 }} </span>
      </span>
      <span class="title">
        <div class="goldbk">{{ props.title2 }}</div>
        <div class="gold">{{ props.title2 }}</div>
      </span>
      <span class="title">
        <span> {{ props.title3 }} </span>
      </span>
      <span class="title">
        <span> {{ props.title4 }} </span>
      </span>
    </h1>
  </section>
</template>

<style scoped>
@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
.container {
  top: calc(50% - 40vmin);
  animation: 8s Chck ease-in-out infinite;
}
h1 {
  color: #fff;
  font-size: 32px;
  margin: 0;
  line-height: 47px;
  letter-spacing: 2px;
  text-align: left;
}
.title {
  transform: translateX(-50%) rotate(-10deg);
  display: block;
  left: calc(50% + 280px);
  position: relative;
}
.title span {
  transform: skew(-10deg);
  display: block;
  text-shadow: #533d4a 1px 1px, #533d4a 2px 2px, #533d4a 3px 3px,
    #533d4a 4px 4px, #533d4a 5px 5px, #533d4a 6px 6px;
  min-width: 250px;
  min-height: 10px;
  position: relative;
}
.title:nth-child(1) {
  color: #ef7a6b;
}
.title:nth-child(2) {
  line-height: 80px;
  font-size: 70px;
  color: #f1c83c;
}
.title:nth-child(3) {
  font-size: 20px;
  color: #fff;
}
.title:nth-child(4) {
  line-height: 22px;
  font-size: 20px;
  color: #64e49b;
}

@keyframes Chck {
  0%,
  30%,
  60% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(3deg);
  }
  45% {
    transform: rotate(-3deg);
  }
}

@media screen and (max-width: 768px) {
  .container {
    top: calc(50% - 65vmin);
  }
  .title {
    left: calc(50% + 205px);
  }
  .title:nth-child(1) {
    line-height: 20px;
    font-size: 20px;
  }
  .title:nth-child(2) {
    line-height: 45px;
    font-size: 40px;
  }
  .title:nth-child(3) {
    line-height: 30px;
    font-size: 13px;
  }
  .title:nth-child(4) {
    line-height: 13px;
    font-size: 13px;
  }
}

.gold {
  transform: skew(-10deg);
  min-width: 250px;
  min-height: 10px;
  position: relative;
  background: linear-gradient(
    90deg,
    #ffe554 0%,
    #ffc341 20%,
    #f7cf4c 39%,
    #fff9ab 50%,
    #f7cf4c 60%,
    #ffc341 80%,
    #ffce5b 100%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: 3s shine ease-in-out infinite;
  animation-direction: alternate;
  background-size: 200%;
  background-position: left;
}
.goldbk {
  transform: skew(-10deg);
  min-width: 250px;
  min-height: 10px;
  color: #533d4a;
  position: absolute;
  text-shadow: #533d4a 1px 1px, #533d4a 2px 2px, #533d4a 3px 3px,
    #533d4a 4px 4px, #533d4a 5px 5px, #533d4a 6px 6px;
}
@keyframes shine {
  to {
    background-position: right;
  }
}
</style>
