<script setup lang="ts">
import { computed, ref } from "vue";
import { substr } from "runes";

const props = defineProps<{
  message: string;
}>();

const index = ref(0);
const hide = ref(false);
const space = "                   ";

const sleep = (ms: number) => new Promise((resolve) => setTimeout(resolve, ms));

const passages = computed(() => {
  const subValue = substr(props.message + space, 0, index.value);

  let startIndex = subValue.length - 10;
  if (startIndex < 0) startIndex = 0;

  const lastSubValue = substr(subValue, startIndex, subValue.length);
  return lastSubValue;
});

const replaceSpace = (str: string) => {
  return str.replace(/ /g, "");
};

const init = async () => {
  await sleep(400);

  const lastText = substr(props.message, props.message.length - 10, 10);
  if (passages.value.indexOf(lastText) == 0) await sleep(1000);

  index.value += 1;
  if (replaceSpace(passages.value) == "") {
    hide.value = true;
    await sleep(1000);
    hide.value = false;
    index.value = 0;
  }
  init();
};
init();
</script>

<template>
  <div
    v-if="(props.message ?? '') != ''"
    class="message-dialog"
    :class="{ hide }"
  >
    <span class="message"> {{ passages }} </span>
  </div>
</template>

<style scoped>
/* dialog */
.message-dialog {
  background-color: #ffffff;
  color: #000000;
  border-radius: 6px;
  filter: drop-shadow(4px 4px 6px RGBA(0, 0, 0, 0.4));
  padding: 5px 9px 4px;
  margin: 0px 17px;
  top: -35px;
  text-align: left;
  position: absolute;
  opacity: 0.7;
  height: 25px;
  animation: 0.5s Chck-64e62dbd ease-in-out;
}

.hide {
  animation: 0.5s Chck2 ease-in-out forwards;
}

.message {
  font-size: 15px;
}

@keyframes Chck {
  0% {
    transform: scale(0, 0);
    transform-origin: bottom center;
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes Chck2 {
  0% {
    transform: scale(1, 1);
    transform-origin: bottom center;
  }
  100% {
    transform: scale(0, 0);
  }
}
</style>
