<script setup lang="ts">
import { ref } from "vue";

const props = defineProps<{
  title: string;
  subtitle: string;
  subtitle2: string;
  subtitle3: string;
}>();

const refNotify = ref<HTMLElement | null>(null);
</script>

<template>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <div
    class="body"
    translate="no"
    style="
      --background: #2a3950;
      --button: #ffa801;
      --notify: #ff7582;
      --icon: #ff3f34;
      --light-grey: #ecf0f1;
      --dark-grey: #34495e;
      --blue: #12cbc4;
      --dark-blue: #1289a7;
      --red: #ed4c67;
      --delay: 8s;
    "
  >
    <div ref="refNotify" class="notify animate">
      <div class="button">
        <i class="fa-solid fa-trophy"></i>
      </div>
      <span class="title">{{ props.title }}</span>
      <span class="subtitle">
        {{ props.subtitle }}
      </span>
      <span class="subtitle2">
        {{ props.subtitle2 }}
      </span>
      <span class="subtitle3">
        {{ props.subtitle3 }}
      </span>
    </div>
  </div>
</template>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.paused {
  animation-play-state: paused !important;
}
.body {
  background-color: var(--background);
  text-align: left;
}

@media screen and (max-width: 768px) {
  .body {
    zoom: 0.95;
  }
}

.notify {
  width: 360px;
  height: 63px;
  display: block;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.1) 100%
  );
  background-color: var(--notify);
  border-radius: 6px;
  position: absolute;
  top: 20px;
  left: 18px;
  filter: drop-shadow(7px 7px 10px RGBA(0, 0, 0, 0.4));
  padding: 8px 13px;
}

.animate.notify {
  opacity: 1;
  animation: base-animation 10s ease alternate infinite;
}

.button {
  background-color: var(--button);
  height: 65px;
  width: 65px;
  position: absolute;
  right: 13px;
  top: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  filter: drop-shadow(3px 3px 3px RGBA(0, 0, 0, 0.2));
  color: white;
  font-family: "Font Awesome 5 Free";
  content: "\f095";
  font-size: 30px;
  color: white;
}

.animate .button {
  animation: button-animation 10s ease alternate infinite;
}

.animate .button i {
  animation: icon-animation 10s ease alternate infinite;
}

span {
  animation-delay: 1s;
}

.animate span {
  animation: text-animation 10s ease alternate infinite;
}

.title {
  color: white;
  font-weight: 600;
  font-size: 12px;
  display: block;
}

.subtitle {
  color: white;
  font-weight: 600;
  font-size: 20px;
}

.subtitle2 {
  color: #fff67f;
  display: block;
  font-size: 12px;
}

.subtitle3 {
  color: #7fffa1;
  position: fixed;
  font-size: 12px;
  margin: 15px 0px 0px 134px;
}

@keyframes base-animation {
  0% {
    width: 90px;
    height: 0;
  }

  5% {
    height: 83px;
  }

  6% {
    width: 90px;
    height: 76px;
  }

  8% {
    height: 63px;
  }

  15% {
    width: 360px;
  }
}

@keyframes button-animation {
  0% {
    height: 0px;
    width: 0px;
  }

  4% {
    height: 75px;
    width: 75px;
    right: 8px;
  }

  7% {
    height: 65px;
    width: 65px;
    right: 13px;
  }
  100% {
  }
}

@keyframes text-animation {
  0% {
    opacity: 0;
  }

  11% {
    opacity: 0;
  }

  15% {
    opacity: 1;
  }
}

@keyframes icon-animation {
  0% {
    transform: rotate(-680deg);
    opacity: 0;
  }
  1% {
    transform: rotate(-380deg);
    opacity: 0;
  }
  9% {
    transform: rotate(0deg);
    opacity: 1;
  }
}
</style>
