<script setup lang="ts">
import Dialog from "./dialog.vue";
import Message from "./message.vue";

const props = defineProps<{
  title: string;
  subtitle: string;
  subtitle2: string;
  subtitle3: string;
  message: string;
  isCry: boolean;
}>();
</script>

<template>
  <div class="wrap">
    <Dialog
      :title="props.title"
      :subtitle="props.subtitle"
      :subtitle2="props.subtitle2"
      :subtitle3="props.subtitle3"
    />
    <Message :message="props.message" />
    <svg class="man" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 900 900">
      <linearGradient
        id="grd__h2"
        x1="456.483"
        x2="456.483"
        y1="757.946"
        y2="241.215"
        gradientTransform="matrix(1 0 0 -1 0 900)"
        gradientUnits="userSpaceOnUse"
      >
        <stop offset="0" stop-color="#6bafff" />
        <stop offset=".14" stop-color="#1cacfe" />
        <stop offset=".922" stop-color="#0063d7" />
        <stop offset="1" stop-color="#0f8ed6" />
      </linearGradient>
      <path
        :fill="props.isCry ? 'url(#grd__h2)' : 'url(#grd__h)'"
        d="M524.3 648.5H388.6c-97.3 0-176.9-79.7-176.9-176.9V308.7c0-97.3 79.7-176.9 176.9-176.9h135.7c97.3 0 176.9 79.7 176.9 176.9v162.9c.1 97.3-79.5 176.9-176.9 176.9z"
      />
      <path
        fill="#CB0167"
        stroke="#BE1E2D"
        stroke-miterlimit="10"
        stroke-width="6.346"
        d="M733 300.3v21.2c0 .7 0 1.2-.1 1.9-.5 78.3-60.7 141.6-135.1 141.6-57.9 0-107.3-38.4-126.5-92.4l-14 2.1-15.5-2.2c-19.1 54.1-68.6 92.6-126.6 92.6-74.3 0-134.6-63.2-135.1-141.6-.1-.7-.1-1.2-.1-1.9v-21.2c0-8.3 6.7-15 15-15h523.1c8.2-.1 14.9 6.6 14.9 14.9z"
      />
      <path
        class="Glassez"
        fill="url(#Glasses)"
        d="M499.9 324.6h198.8c0 57.8-44.5 107.5-99.3 107.5s-99.5-49.6-99.5-107.5zm-285.4 0h198.8c0 57.8-44.5 107.5-99.3 107.5s-99.5-49.6-99.5-107.5z"
      ></path>
      <linearGradient
        id="Glasses"
        spreadMethod="reflect"
        gradientTransform="rotate(5)"
      >
        <animateTransform
          attributeName="gradientTransform"
          type="rotate"
          values="0 0.5 0.5; 15 0.5 0.5; 0 0.5 0.5; -25 0.5 0.5;0 0.5 0.5;"
          dur="4s"
          repeatCount="indefinite"
        />
        <stop offset="0%" stop-color="#720021">
          <animate
            attributeName="stop-color"
            values="#720021; #720021; #720021; #720021; #720021"
            dur="8s"
            repeatCount="indefinite"
          />
        </stop>
        <stop offset="25%" stop-color="#720021">
          <animate
            attributeName="stop-color"
            values="#720021; #ff0167; #720021; #f0a; #720021;#720021;#720021;"
            dur="8s"
            repeatCount="indefinite"
          />
        </stop>
        <stop offset="50%" stop-color="#720021"></stop>
        <stop offset="75%" stop-color="#720021">
          <animate
            attributeName="stop-color"
            values="#720021; #ff0167; #720021; #f0a; #720021;#720021;#720021;"
            dur="8s"
            repeatCount="indefinite"
          />
        </stop>
        <stop offset="100%" stop-color="#720021">
          <animate
            attributeName="stop-color"
            values="#720021; #720021; #720021; #720021;#720021;"
            dur="8s"
            repeatCount="indefinite"
          />
        </stop>
      </linearGradient>

      <linearGradient
        id="grd__j"
        x1="456.529"
        x2="456.529"
        y1="486.805"
        y2="444.211"
        gradientTransform="matrix(1 0 0 -1 0 900)"
        gradientUnits="userSpaceOnUse"
      >
        <stop offset="0" stop-color="#cb0167" />
        <stop offset=".217" stop-color="#c40357" />
        <stop offset=".641" stop-color="#b0072c" />
        <stop offset="1" stop-color="#9e0b03" />
      </linearGradient>
      <path
        fill="none"
        stroke="url(#grd__j)"
        stroke-linecap="round"
        stroke-miterlimit="10"
        stroke-width="9.066"
        d="M400.3 465.7c9.7 24.4 31.2 33.5 56.2 33.5 25 0 46.5-9.1 56.2-33.5"
        :class="{ cry: props.isCry }"
      />
      <path
        class="brows"
        fill="#CC9902"
        d="M411.6 269.2h-21.9c-4 0-7.3-3.3-7.3-7.3s3.3-7.3 7.3-7.3h21.9c4 0 7.3 3.3 7.3 7.3-.1 4.1-3.3 7.3-7.3 7.3zm111.8 0h-21.9c-4 0-7.3-3.3-7.3-7.3s3.3-7.3 7.3-7.3h21.9c4 0 7.3 3.3 7.3 7.3 0 4.1-3.3 7.3-7.3 7.3z"
      />
    </svg>
  </div>
</template>

<style scoped>
.wrap {
  float: left;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .wrap {
    zoom: 0.63;
  }
}

.man {
  width: 110px;
  height: 110px;
  z-index: 5;
  animation: 8s Chck ease-in-out infinite;
}
@keyframes Chck {
  0%,
  30%,
  60% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(15deg);
  }
  45% {
    transform: rotate(-15deg);
  }
}
.Rays {
  width: 140vmax;
  height: 140vmax;
  top: 50%;
  left: 50%;
  margin: -70vmax 0 0 -70vmax;
  position: absolute;
  z-index: 1;
  animation: 150s R360 linear infinite;
}
@keyframes R360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.Glassez {
  stroke: rgba(255, 55, 55, 0.35);
  stroke-width: 3;
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
  animation: 8s Gls linear infinite;
}
@keyframes Gls {
  0% {
    stroke-dashoffset: 800;
  }
  30% {
    stroke-dashoffset: 0;
  }
  60%,
  100% {
    stroke-dashoffset: -800;
  }
}
.brows {
  animation: 8s eyeBrows ease-in-out infinite;
}
@keyframes eyeBrows {
  0%,
  30%,
  60%,
  80%,
  90%,
  100% {
    transform: translate(0, 0);
  }
  15%,
  45%,
  85%,
  95% {
    transform: translate(0, -16px);
  }
}

.title {
  color: white;
  font-weight: 600;
  font-size: 15px;
  display: block;
}

.subtitle {
  color: #fff;
  font-weight: 600;
  font-size: 25px;
  display: block;
  height: 31px;
  top: -4px;
  position: relative;
}
.subtitle2 {
  margin-left: 10px;
  color: #fff67f;
}
.subtitle3 {
  color: #7fffa1;
  font-size: 12px;
}
.cry {
  transform: scaleY(-0.5) translateY(-77px);
  transform-origin: center;
}

@media screen and (max-width: 768px) {
  .man {
    width: 95px;
    height: 95px;
  }
}
</style>
